:root{
  --cor_escura: black;
  --cor_clara: white;
  --cor_media: grey;
}

html{
  /*overflow-x: hidden; /* Esconde a Scrollbar*/
  overflow-y: scroll auto;
}

html::-webkit-scrollbar{
  width: 5px;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--cor_media);/* Cro da Scrollbar*/
}



body{
  background-color: var(--cor_clara);
  margin: 0;
}


.top-cabecalho{
  background-color: var(--cor_escura);
  color: var(--cor_clara);

  max-width: calc(100vw - 5px);
  width: 100vw;
  height: 250px;
  position: static;
  user-select: none;

  z-index: 3;

  box-shadow: 0px 3px 5px 5px var(--cor_media);
}

#titulo-P{
  position: fixed;
  transition: 0.5s;
  font-family: "Heavitas", fantasy, sans-serif;
  font-size: 50px;
}

#titulo-S{
  position: fixed;
  top :100px;
  transition: 0.5s;
  font-family: "Heavitas", fantasy, sans-serif;
  font-size: 150px;
  margin-top: 0;
}

/*#top-titulo-cabecalho{
font-family: "Heavitas", fantasy, sans-serif;
font-size: 150px;
  line-height: 50px;
  padding-top: 20px;
  user-select: none;
}*/

.center-conteiner{
  padding-top: 20px;
  max-height: 700px;
  padding: 20px 2%;
  display: flex;
  flex-direction: row;
}

.center-menu{
  float: left;
  border: 1px solid black;
  min-height: 180px;
  height: 100% var(.center-conteiner);
  width: 30%;
  user-select: none;
}

ul{
  font-family: fantasy, cursive;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;

  display: flex;
  flex-direction: column;
}

li{
  line-height: 50px;
  height: 60px;
  width: 88%;
  color: var(--cor_escura);
  padding-left: 40px;
  text-decoration: none;
  transition: width 1s;
  color: var(--cor_escura);
  cursor: pointer;
}

li:hover{
  width: 89%;
  background-color: var(--cor_media);
  color: var(--cor_clara);
}

.center-conteudo{
  z-index: -1;
  margin-left: 10px;
  height: 210px;
  width: 70%;
  font-family: Corbel,fantasy;
  border: 1px solid black;

}

section{
  margin-left: 30px;
  width: 100%;
  max-width: 62%;
}

.bloco-conteudo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#conClike{
  z-index: 1;
  position: absolute;
}

#conSobre{
  min-width: 53%;
  max-width: var(.center-conteudo);
  z-index: 2;
  position: absolute;
  display: flex;
  flex-direction: column;

}

#conFormacao{
  z-index: 3;
  position: absolute;
}

#conExperiencia{
  z-index: 4;
  position: absolute;
}

.habilidade-conteiner{
  padding: 0;
  margin: 0 auto;

}

.habilidade-atual{
  background-color: var(--cor_escura);
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.centro-h{
  display: flex;
  flex-direction:

}

.titulo-h{
  text-align: center;
  font-size: 40px;
  font-family: "Heavitas", fantasy, sans-serif;
  color: var(--cor_clara);
}

.animacao-h{
  width: 50%;
  height: 400px;
  float: left;
  margin-left: 4px;
}

.bloco{
  margin: 0 auto;
  position:relative;
  width: 130px;
  height: 200px;
  color: var(--cor_clara);
  /*animation-name: aniBlocos;*/
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transition: width 2s, height 4s;
}

/*.b1{
  animation-delay: -12s;
}

.b2{
  animation-delay: -8s;
}

.b3{
  animation-delay: -4s;
}

@keyframes aniBlocos {
  0%    {top: 805px; left: 17%; z-index: 0;}
  25%   {top: 800px; left: 32%; z-index: 1; height: 200px;}
  50%   {top: 775px; left: 17%; z-index: 2; height: 250px;}
  75%   {top: 800px; left: 2%;  z-index: 1; height: 200px;}
  100%  {top: 805px; left: 17%; z-index: 0;}
}*/

.conteudo-h{
  width: 39%;
  height: 400px;
  color: var(--cor_clara);
  /*border: 1px solid var(--cor_clara);*/
  float: right;
  margin-right: 4px;
  padding-left: 40px;
}

@media only screen and (max-width: 768px) {/*para celular*/
  /* Para Celulares*/
  #top-titulo-cabecalho{
    font-size: 80px;
    line-height: 180px;
  }

  .center-conteiner{
    flex-direction: column;
  }

  .center-menu{
    height: 30px;
    width: 100%;
    flex-direction: row;
  }
  li{
    width: 87%;
    float: left;
  }
  li:hover{
    width: 90%;
    background-color: var(--cor_media);
    color: var(--cor_clara);
  }

  .center-conteudo{
    width: 100%;
    margin: 10px 0 0 0;
  }

  section{
    max-width: 90%;
  }
}
