:root{
  --cor_escura: black;
  --cor_clara: white;
  --cor_media: grey;
}

html{
/*  overflow-x: hidden; /* Esconde a Scrollbar*/
  overflow-y: scroll auto;
}

html::-webkit-scrollbar{
  width: 5px;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--cor_media);/* Cro da Scrollbar*/
}



body{
  background-color: var(--cor_clara);
  margin: 0;
}


.top-cabecalho{
  background-color: var(--cor_escura);
  color: var(--cor_clara);

  max-width: 100vw;
  width: calc(100vw );
  height: 250px;

  box-shadow: 0px 3px 5px 5px var(--cor_media);
}

#top-titulo-cabecalho{
  font-family: "Heavitas", fantasy, sans-serif;
  font-size: 150px;
  line-height: 50px;
  padding-top: 20px;
  user-select: none;
}

.center-conteiner{
  padding-top: 20px;
  max-height: 700px;
  height: auto;
  max-width: calc(100vw - 4%);
  width: 100%;
  padding: 20px 2%;
  display: flex;
  flex-direction: row;
}

.center-menu{
  float: left;
  border: 1px solid black;
  min-height: 180px;
  height: 100% var(.center-conteiner);
  width: 30%;
  user-select: none;
}

ul{
  font-family: fantasy, cursive;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;

  display: flex;
  flex-direction: column;
}

li{
  line-height: 50px;
  height: 60px;
  width: 88%;
  color: var(--cor_escura);
  padding-left: 40px;
  text-decoration: none;
  transition: width 1s;
  color: var(--cor_escura);
  cursor: pointer;
}

li:hover{
  width: 89%;
  background-color: var(--cor_media);
  color: var(--cor_clara);
}

.center-conteudo{
  z-index: -1;
  margin-left: 10px;
  height: auto;
  width: 70%;
  font-family: Corbel,fantasy;
  border: 1px solid black;
}

section{
  margin-left: 30px;
}

#conClike{
  z-index: 1;
  position: absolute;
}

#conSobre{
  min-width: 55%;
  max-width: var(.center-conteudo);
  z-index: 2;
  position: absolute;
  display: flex;
  justify-content: space-between;
}


#conConhecimentos{
  z-index: 3;
  position: absolute;
}

#conProjetos{
  z-index: 4;
  position: absolute;
}

@media only screen and (max-width: 768px) {
  /* Para Celulares*/
  #top-titulo-cabecalho{
    font-size: 80px;
    line-height: 180px;
  }

  .center-conteiner{
    flex-direction: column;
  }

  .center-menu{
    height: 30px;
    width: 100%;
    flex-direction: row;
  }
  li{
    width: 87%;
    float: left;
  }
  li:hover{
    width: 90%;
    background-color: var(--cor_media);
    color: var(--cor_clara);
  }

  .center-conteudo{
    width: 100%;
    margin: 10px 0 0 0;
  }
}
